body {
    font-family: Arial, sans-serif;
    background: #ffe6eb;
    margin: 0;
    text-align: center;
}

header {
    background: #ff5e7e;
    color: white;
    padding: 40px;
}

.historia, .razones, .mensaje {
    background: white;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
}

h2 {
    color: #ff5e7e;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ffd1dc;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

footer {
    background: #ff5e7e;
    color: white;
    padding: 20px;
}
